<ng-container *ngIf="detailsLoading()">
  <c-row ngPreserveWhitespaces class="g-0">
    <c-col xs="12">
      <form [formGroup]="customerForm">
        <c-row style="min-height: 512px" class="g-0">
          <c-card>
            <c-card-header>
              <c-row class="aling-items-center g-0">
                <c-col>
                  <h4>Edit Customer</h4>
                </c-col>

                <c-col class="d-flex justify-content-end gap-2">
                  <button mat-stroked-button color="accent" type="button" disabled>
                    Loading...
                  </button>
                </c-col>
              </c-row>
            </c-card-header>

            <c-card-body>
              <c-row>
                <c-col>
                  <h5>Customer Details</h5>

                  <ngx-shimmer-loading class="w-100 mb-3" [width]="'100%'" [height]="'56px'"></ngx-shimmer-loading>
                  <ngx-shimmer-loading class="w-100 mb-3" [width]="'100%'" [height]="'56px'"></ngx-shimmer-loading>
                  <ngx-shimmer-loading class="w-100 mb-3" [width]="'100%'" [height]="'56px'"></ngx-shimmer-loading>
                  <ngx-shimmer-loading class="w-100 mb-3" [width]="'100%'" [height]="'56px'"></ngx-shimmer-loading>
                </c-col>

                <c-col>
                  <h5>Address</h5>

                  <ngx-shimmer-loading class="w-100 mb-3" [width]="'100%'" [height]="'56px'"></ngx-shimmer-loading>
                  <ngx-shimmer-loading class="w-100 mb-3" [width]="'100%'" [height]="'56px'"></ngx-shimmer-loading>
                  <ngx-shimmer-loading class="w-100 mb-3" [width]="'100%'" [height]="'56px'"></ngx-shimmer-loading>
                  <ngx-shimmer-loading class="w-100 mb-3" [width]="'100%'" [height]="'56px'"></ngx-shimmer-loading>
                  <ngx-shimmer-loading class="w-100 mb-3" [width]="'100%'" [height]="'56px'"></ngx-shimmer-loading>
                </c-col>
              </c-row>
            </c-card-body>

            <c-card-footer></c-card-footer>
          </c-card>
        </c-row>
      </form>
    </c-col>
  </c-row>
</ng-container>

<ng-container *ngIf="!detailsLoading() && detailsError()">
  <c-row class="text-center m-2 g-0">
    <c-col>
      <img cImg align="center" height="200" rounded src="../../../assets/images/error.png" width="200" />
      <p cCardText>An error occurred, please try again</p>
      <button cButton color="primary" (click)="onRetryClick()">
        Retry
      </button>
    </c-col>
  </c-row>
</ng-container>

<ng-container *ngIf="!detailsLoading() && !detailsError()">
  <c-row ngPreserveWhitespaces class="g-0">
    <c-toaster *ngIf="updateError() as error" class="p-3" placement="bottom-center">
      <c-toast
        [autohide]="true"
        [delay]="2000"
        [visible]="true"
        class="align-items-center text-white border-0"
        color="danger">
        <c-row class="d-flex g-0">
          <c-toast-body>
            <span>{{ error.message }}</span>
          </c-toast-body>
        </c-row>
      </c-toast>
    </c-toaster>

    <c-col xs="12">
      <form [formGroup]="customerForm" (ngSubmit)="onSaveClick()">
        <c-row style="min-height: 512px" class="g-0">
          <c-card>
            <c-card-header>
              <c-row class="aling-items-center g-0">
                <c-col>
                  <h4>Edit Customer</h4>
                </c-col>

                <c-col class="d-flex justify-content-end gap-2">
                  <button mat-stroked-button color="accent" type="button" (click)="onSaveClick()">
                    {{ updateLoading() ? 'Updating...' : 'Update' }}
                    <mat-icon>save</mat-icon>
                  </button>
                </c-col>
              </c-row>
            </c-card-header>

            <c-card-body>
              <c-row>
                <c-col>
                  <h5>Customer Details</h5>

                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Id</mat-label>
                    <input matInput formControlName="id" readonly />
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>DNI</mat-label>
                    <input matInput formControlName="dni" placeholder="DNI" />
                    <mat-error *ngIf="dni.hasError('required')">
                      DNI is <strong>Required</strong>
                    </mat-error>
                    <mat-error *ngIf="dni.hasError('maxlength')">
                      The length of the DNI is too long. The maximum length must be
                      <strong>20 characters</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="phone" placeholder="Phone" />
                    <mat-error *ngIf="phone.hasError('required')">
                      Phone is <strong>Required</strong>
                    </mat-error>
                    <mat-error *ngIf="phone.hasError('maxlength')">
                      The length of the Phone is too long. The maximum length must be
                      <strong>20 characters</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Full Name</mat-label>
                    <input matInput formControlName="fullName" placeholder="Full Name" />
                    <mat-error *ngIf="fullName.hasError('required')">
                      Full Name is <strong>Required</strong>
                    </mat-error>
                    <mat-error *ngIf="fullName.hasError('maxlength')">
                      The length of the Full Name is too long. The maximum length must be
                      <strong>50 characters</strong>
                    </mat-error>
                  </mat-form-field>
                </c-col>

                <c-col formGroupName="address">
                  <h5>Address</h5>

                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Country</mat-label>
                    <input matInput formControlName="country" placeholder="Country" />
                    <mat-error *ngIf="country.hasError('required')">
                      Country is <strong>Required</strong>
                    </mat-error>
                    <mat-error *ngIf="country.hasError('maxlength')">
                      The length of the Country is too long. The maximum length must be
                      <strong>50 characters</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>State</mat-label>
                    <input matInput formControlName="state" placeholder="State" />
                    <mat-error *ngIf="state.hasError('required')">
                      State is <strong>Required</strong>
                    </mat-error>
                    <mat-error *ngIf="state.hasError('maxlength')">
                      The length of the State is too long. The maximum length must be
                      <strong>50 characters</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>City</mat-label>
                    <input matInput formControlName="city" placeholder="City" />
                    <mat-error *ngIf="city.hasError('required')">
                      City is <strong>Required</strong>
                    </mat-error>
                    <mat-error *ngIf="city.hasError('maxlength')">
                      The length of the City is too long. The maximum length must be
                      <strong>50 characters</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Zip Code</mat-label>
                    <input matInput formControlName="zipCode" placeholder="Zip Code" />
                    <mat-error *ngIf="zipCode.hasError('required')">
                      Zip Code is <strong>Required</strong>
                    </mat-error>
                    <mat-error *ngIf="zipCode.hasError('maxlength')">
                      The length of the Zip Code is too long. The maximum length must be
                      <strong>10 characters</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Street</mat-label>
                    <input matInput formControlName="street" placeholder="Street" />
                    <mat-error *ngIf="street.hasError('required')">
                      Street is <strong>Required</strong>
                    </mat-error>
                    <mat-error *ngIf="street.hasError('maxlength')">
                      The length of the Street is too long. The maximum length must be
                      <strong>75 characters</strong>
                    </mat-error>
                  </mat-form-field>
                </c-col>
              </c-row>
            </c-card-body>

            <c-card-footer></c-card-footer>
          </c-card>
        </c-row>
      </form>
    </c-col>
  </c-row>
</ng-container>
