<c-row ngPreserveWhitespaces>
    <c-col xs="12">

        <c-modal 
            #newCategoryModal 
            id="newCategoryModal"
            backdrop="static"
            >
            <form 
            cForm
            [formGroup]="addForm"
            (ngSubmit)="addSubmit()"
            [validated]="true"
            class="needs-validation"
            ngNativeValidate>

            <c-modal-header>
                <h5 cModalTitle>New Category</h5>
            </c-modal-header>
            <c-modal-body>
              
                    <c-input-group class="mb-3 has-validation">
                        <input
                            [valid]="false"
                            formControlName="name"
                            id="name"
                            cFormControl
                            placeholder="Name"
                            type="text"
                            required
                            />
                            
                        <c-form-feedback *ngIf="add_name?.errors?.['required'] && add_name?.touched" invalid>
                            Name is required.
                        </c-form-feedback>

                    </c-input-group>

            </c-modal-body>
            <c-modal-footer>
                
                <button [cModalToggle]="newCategoryModal.id" (click)="addCancel()" cButton color="secondary">
                    Close
                </button>

                <button
                    *ngIf="addResult()?.status === 'loading'"
                    [disabled]="true"
                    cButton 
                    color="primary">
                    Loading...
                </button>
                
                    
                
                <button
                    *ngIf="addResult()?.status !== 'loading'"
                    [disabled]="addForm.invalid" 
                    cButton type="submit" 
                    color="primary">Save changes
                </button>
                            
            </c-modal-footer>
        </form>
        </c-modal>



        <c-card *ngIf="pageResult()?.status === 'loading'" class="mb-4" style="min-height: 480px;">
            <c-card-header>
               <c-container>
                <c-row>
                    <c-col>
                        <h4>Loading Categories...</h4>
                    </c-col>
                </c-row>
               </c-container>

            </c-card-header>
            <c-card-body>
                <table cTable class="m-2">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col" class="text-end">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="item of [1,2,3,4,5,6,7]">
                            <td>
                                <ngx-skeleton-loader count="1"/>
                            </td>
                            <td>
                                <ngx-skeleton-loader count="1"/>
                            </td>
                            <td class="text-end">
                                <ngx-skeleton-loader count="1"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </c-card-body>
            
            <c-card-footer>
                <c-pagination aria-label="Page navigation example" align="end" size="sm">
                    <ngx-skeleton-loader count="1"/>
                </c-pagination>
            </c-card-footer>
            
        </c-card>
        

        <c-card *ngIf="pageResult()?.status === 'success'" class="mb-4" style="min-height: 480px;">
            <c-card-header>
               <c-container>
                <c-row>
                    <c-col>
                        <h4>Categories</h4>
                    </c-col>
                    <c-col class="text-end">
                        <button cButton [cModalToggle]="newCategoryModal.id" color="primary" size="sm">
                            <c-icon name="cilPlus" class="me-2"></c-icon>
                            New Category
                        </button>
                    </c-col>
                </c-row>
               </c-container>

            </c-card-header>
            <c-card-body>
                <table cTable class="m-2">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col" class="text-end">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Juan Pablo</td>
                            <td class="text-end">
                                <fa-icon [icon]="faEye" ></fa-icon>
                                <fa-icon [icon]="faEdit" class="m-2"></fa-icon>
                                <fa-icon [icon]="faTrash" class="m-2"></fa-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </c-card-body>
            
            <c-card-footer>
                <c-pagination aria-label="Page navigation example" align="end" size="sm">
                    <li cPageItem [active]="true">
                      <a cPageLink [routerLink]>Previous</a>
                    </li>
                    <li cPageItem>
                      <a cPageLink [routerLink]>1</a>
                    </li>
                    <li cPageItem>
                      <a cPageLink [routerLink]>2</a>
                    </li>
                    <li cPageItem>
                      <a cPageLink [routerLink]>3</a>
                    </li>
                    <li cPageItem>
                      <a cPageLink [routerLink]>Next</a>
                    </li>
                  </c-pagination>
            </c-card-footer>
            
        </c-card>


        <c-card *ngIf="pageResult()?.status === 'empty'" class="mb-4" style="min-height: 480px;">
            <c-card-header>
               <c-container>
                <c-row>
                    <c-col>
                        <h4>Categories</h4>
                    </c-col>
                    <c-col class="text-end">
                        <button cButton [cModalToggle]="newCategoryModal.id" color="primary" size="sm">
                            <c-icon name="cilPlus" class="me-2"></c-icon>
                            New Category
                        </button>
                    </c-col>
                </c-row>
               </c-container>

            </c-card-header>
            <c-card-body>
                <table cTable class="m-2">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col" class="text-end">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Juan Pablo</td>
                            <td class="text-end">
                                <fa-icon [icon]="faEye" ></fa-icon>
                                <fa-icon [icon]="faEdit" class="m-2"></fa-icon>
                                <fa-icon [icon]="faTrash" class="m-2"></fa-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </c-card-body>
            
            <c-card-footer>
                <c-pagination aria-label="Page navigation example" align="end" size="sm">
                    <li cPageItem [active]="true">
                      <a cPageLink [routerLink]>Previous</a>
                    </li>
                    <li cPageItem>
                      <a cPageLink [routerLink]>1</a>
                    </li>
                    <li cPageItem>
                      <a cPageLink [routerLink]>2</a>
                    </li>
                    <li cPageItem>
                      <a cPageLink [routerLink]>3</a>
                    </li>
                    <li cPageItem>
                      <a cPageLink [routerLink]>Next</a>
                    </li>
                  </c-pagination>
            </c-card-footer>
            
        </c-card>




        <c-card *ngIf="pageResult()?.status === 'failure'" class="mb-4" style="min-height: 480px;">
            <c-card-header>
               <c-container>
                <c-row>
                    <c-col>
                        <h4>Categories</h4>
                    </c-col>
                </c-row>
               </c-container>

            </c-card-header>
            <c-card-body class="text-center">
                <img cImg align="center" height="200" rounded src="../../../assets/images/error.png" width="200" />
                <p CardText>
                    An error occurred, please try again
                </p>
                <button cButton color="primary" (click)="onRetryClick()">Retry</button>
            </c-card-body>
        </c-card>

    </c-col>
</c-row>