<c-row ngPreserveWhitespaces>

    <c-toaster *ngIf="addError$ | async as error" class="p-3" placement="bottom-center">
        <c-toast #toast="cToast" [autohide]="true" [delay]="2000" [visible]="true"
            class="align-items-center text-white border-0" color="danger">
            <div class="d-flex">
                <c-toast-body>
                    <span>{{ error }}</span>
                </c-toast-body>
            </div>
        </c-toast>
    </c-toaster>

    <c-toaster *ngIf="addSuccess$ | async as success" class="p-3" placement="bottom-center">
        <c-toast #toast="cToast" [autohide]="true" [delay]="2000" [visible]="true"
            class="align-items-center text-white border-0" color="success">
            <div class="d-flex">
                <c-toast-body>
                    <span>New category created successfully</span>
                </c-toast-body>
            </div>
        </c-toast>
    </c-toaster>

    <c-col xs="12">
        <c-card *ngIf="loading$ | async" class="mb-4">
            <!-- loading content -->
            <c-card-header>
                <c-container>
                    <c-row>
                        <c-col>
                            <h4>Loading Categories...</h4>
                        </c-col>
                    </c-row>
                </c-container>

            </c-card-header>
            <c-card-body>
                <table cTable class="m-2">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col" class="text-end">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="item of [1,2,3,4,5,6,7]">
                            <td>
                                <ngx-skeleton-loader count="1" />
                            </td>
                            <td>
                                <ngx-skeleton-loader count="1" />
                            </td>
                            <td class="text-end">
                                <ngx-skeleton-loader count="1" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </c-card-body>

            <c-card-footer>
                <c-pagination aria-label="Page navigation example" align="end" size="sm">
                    <ngx-skeleton-loader count="1" />
                </c-pagination>
            </c-card-footer>

        </c-card>



        <div *ngIf="page$ | async as page" class="min-height: 480px; width: auto; margin-left: 0; margin-right: auto;"
            style="min-height: 480px;">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4>Categories</h4>
                        </div>
                        <div class="col d-flex justify-content-end gap-2">
                            <button mat-stroked-button color="accent" type="button" (click)="onFiltersClicked()">
                                Filters
                                <mat-icon>{{ filtersClicked ? 'filter_alt_off' : 'filter_alt' }}</mat-icon>
                            </button>
                            <button mat-stroked-button color="accent" type="button" (click)="onCreateClick()">
                                New Category
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card-body p-0">


                    @if (filtersClicked) {
                    <div class="row p-3">
                        <div class="col-12 d-flex justify-content-end align-items-center">
                            <mat-form-field appearance="outline" class="w-100 w-md-50">
                                <mat-label>Search Category</mat-label>
                                <input matInput placeholder="Enter category name" [(ngModel)]="request.name" />
                                <button mat-icon-button matSuffix aria-label="Clear" *ngIf="request.name"
                                    (click)="request.name=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
                    }

                    <table mat-table matSort *ngIf="dataSource$ | async as dataSource" [dataSource]="dataSource"
                        class="table table-striped table-hover m-0" (matSortChange)="onSortChange($event)"
                        [matSortActive]="request.orderBy!" [matSortDirection]="request.sortOrder!">

                        <!-- ID Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header="id"> Id </th>
                            <td mat-cell *matCellDef="let element">{{element.id}}</td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </th>
                            <td mat-cell *matCellDef="let element">{{element.name}}</td>
                        </ng-container>

                        <!-- Actions Column -->
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef class="text-end"> Actions </th>
                            <td mat-cell *matCellDef="let element" class="text-end">


                                <button mat-icon-button aria-label="View" class="mx">
                                    <mat-icon>visibility</mat-icon>
                                </button>
                                <button mat-icon-button aria-label="Edit" class="mx">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button aria-label="Delete" class="mx-1">
                                    <mat-icon>delete</mat-icon>
                                </button>

                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

                <div class="card-footer d-flex justify-content-end p-2">
                    <mat-paginator [length]="page?.totalElements || 0" [pageIndex]="request.pageNumber! - 1"
                        [pageSize]="request.pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)"
                        showFirstLastButtons aria-label="Select page">
                    </mat-paginator>
                </div>
            </div>
        </div>




        <c-card *ngIf="empty$ | async" class="mb-4" style="min-height: 480px;">
            <c-card-header>
                <c-container>
                    <c-row>
                        <c-col>
                            <h4>Categories</h4>
                        </c-col>
                        <c-col class="text-end">
                            <button cButton color="primary" size="sm">
                                <c-icon name="cilPlus" class="me-2"></c-icon>
                                New Category
                            </button>
                        </c-col>
                    </c-row>
                </c-container>

            </c-card-header>
            <c-card-body>
                <table cTable class="m-2">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col" class="text-end">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td colspan="3">
                                No Results
                            </td>
                        </tr>
                    </tbody>
                </table>
            </c-card-body>

        </c-card>




        <c-card *ngIf="error$ | async" class="mb-4" style="min-height: 480px;">
            <c-card-header>
                <c-container>
                    <c-row>
                        <c-col>
                            <h4>Categories</h4>
                        </c-col>
                    </c-row>
                </c-container>

            </c-card-header>
            <c-card-body class="text-center">
                <img cImg align="center" height="200" rounded src="../../../assets/images/error.png" width="200" />
                <p CardText>
                    An error occurred, please try again
                </p>
                <button cButton color="primary" (click)="onRetryClick()">Retry</button>
            </c-card-body>
        </c-card>

    </c-col>
</c-row>